<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- tools:replace: the Onyx SDK AAR manifests carry their own application label. -->
    <application
        android:name=".SmokeApplication"
        android:label="g-paper consumer smoke"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
        tools:replace="android:label">

        <activity
            android:name=".SmokeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
